<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Describe your app here (this is the description for the google search)">
    <!-- eslint-enable -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>Vue Starter</title>
    <link rel="stylesheet" href="<%= BASE_URL %>styles/fonts-googleapis.css" />
    <link rel="stylesheet" href="<%= BASE_URL %>styles/mdi.css" />
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but our app doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
