<template>
  <div class="center">
    <div class="headline">{{ $t("Imprint.imprint") }}</div>
    <h4 class="header">{{ $t("Imprint.contact") }}</h4>

    <div>
      TODO: Your contact
    </div>

    <div>
      <h4 class="header">{{ $t("Imprint.version") }}</h4>
      <div>
        <div class="version-text">{{ appVersion() }}</div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Imprint extends Vue {
  private appVersion(): string | undefined {
    return process.env.VUE_APP_VERSION;
  }
}
</script>

<style scoped>
.center {
  margin: auto;
  text-align: center;
}

.header {
  margin-top: 20px;
  margin-bottom: 7px;
}
.version-text {
  color: rgb(79, 91, 98, 0.6);
}
</style>
