<template>
  <div class="center-container">
    {{ $t("Welcome.title") }}
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Welcome extends Vue {}
</script>

<style scoped>
.center-container {
  /* margin-top: 0.8em; */
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
