<template>
  <div v-if="showErrorFlag || showWarningFlag || showSuccessFlag" class="show-in-front fixed">
    <!-- TODO Implement without vuetify -->
    <!-- <v-alert v-model="showSuccessFlag" v-bind="localAttrs" dismissible type="success" class="align-left">
      {{ successMsg }}
    </v-alert>
    <v-alert v-model="showWarningFlag" v-bind="localAttrs" dismissible type="warning" class="align-left">
      {{ warningMsg }}
    </v-alert>
    <v-alert v-model="showErrorFlag" v-bind="localAttrs" dismissible type="error" class="align-left">
      {{ errorMsg }}
    </v-alert> -->
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { EventBus } from "../global/eventBus";
import { GlobalEvent } from "../global/events";

@Component
export default class StatusAlert extends Vue {
  private showSuccessFlag = false;
  private showWarningFlag = false;
  private showErrorFlag = false;
  private successMsg = "Success";
  private warningMsg = "Warning";
  private errorMsg = "Error";

  private mounted(): void {
    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    EventBus.$on(GlobalEvent.ERROR_EVENT, (errorMsg: any, timeout?: number) => {
      this.showError(errorMsg, timeout);
    });
    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    EventBus.$on(GlobalEvent.WARNING_EVENT, (warningMsg: any, timeout?: number) => {
      this.showWarning(warningMsg, timeout);
    });

    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    EventBus.$on(GlobalEvent.SUCCESS_EVENT, (successMsg: any, timeout?: number) => {
      this.showSuccess(successMsg, timeout);
    });
  }

  private beforeDestroy(): void {
    EventBus.$off(GlobalEvent.ERROR_EVENT);
    EventBus.$off(GlobalEvent.WARNING_EVENT);
    EventBus.$off(GlobalEvent.SUCCESS_EVENT);
  }

  private showError(msg: string, forMS = 0): void {
    this.errorMsg = msg;
    this.showErrorFlag = true;
    if (forMS > 0) {
      setTimeout(() => (this.showErrorFlag = false), forMS);
    }
  }

  private showSuccess(msg: string, forMS = 4000): void {
    this.successMsg = msg;
    this.showSuccessFlag = true;
    if (forMS > 0) {
      setTimeout(() => (this.showSuccessFlag = false), forMS);
    }
  }

  private showWarning(msg: string, forMS = 0): void {
    this.warningMsg = msg;
    this.showWarningFlag = true;
    if (forMS > 0) {
      setTimeout(() => (this.showWarningFlag = false), forMS);
    }
  }

  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  get localAttrs(): any {
    return { dense: true };
  }
}
</script>

<style scoped>
.show-in-front {
  z-index: 99;
}

.fixed {
  position: fixed;
  width: 100%;
  height: 30px;
}
</style>
