<template>
  <div id="app">
    <StatusAlert></StatusAlert>
    <div class="router-container">
      <router-view />
    </div>
    <div class="footer">
      <div class="footer-element-container">
        <router-link to="/imprint">{{ $t("App.imprintLink") }}</router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import StatusAlert from "@/components/StatusAlert.vue";

@Component({
  components: {
    StatusAlert
  }
})
export default class App extends Vue {
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  private vue: any = this as Vue;

  created(): void {
    this.vue.$log("App was created", [
      { key: "category", value: "APP_CREATED" },
      { key: "component", value: "App" }
    ]);
  }
}
</script>

<style lang="css">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>

<style scoped>
.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.footer-element-container {
  padding: 16px;
  margin: auto;
}
</style>
